@page
@model Study_Timeline.View.Pages.Auth.LoginModel

<h2>Login</h2>

@if (TempData["RegisterSuccess"] != null)
{
    <div class="alert alert-success">
        @TempData["RegisterSuccess"]
    </div>
}

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="StudentLogin.UserName" class="form-label"></label>
        <input asp-for="StudentLogin.UserName" class="form-control" />
        <span asp-validation-for="StudentLogin.UserName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="StudentLogin.Password" class="form-label"></label>
        <input asp-for="StudentLogin.Password" class="form-control" type="password" />
        <span asp-validation-for="StudentLogin.Password" class="text-danger"></span>
    </div>

    <button class="btn btn-primary">Login</button>

    <div class="mt-3 text-center">
        <a asp-page="/Auth/Register">Don't have an account? Register</a>
    </div>
</form>

